body {
	position: absolute;
	height: 100%;
	width: 100%;
}

#content {
	height: initial;
	min-height: calc(100vh - 103px); /* 45px(#controls) + 58px(footer) = 103px */
	overflow: hidden;
}

/* height fix for ie11 */
html.ie #content {
	height: auto;
}

#gallery.hascontrols {
	padding-bottom: 0;
}

#controls .buttons {
	display: flex;
	flex: 1 1;
}
